<launch>
    <node name="params" pkg="sut_mockups" type="parameters.py" output="screen"></node>
    <node name="movement_server" pkg="sut_mockups" type="graspkard.py" output="screen"></node>
    <node name="logger" pkg="sut_mockups" type="simple_logger.py" output="screen"></node>
    <node name="percepteros" pkg="sut_mockups" type="percepteros.py" output="screen"></node>
    <node pkg="sut_mockups" type="pr2_tf_broadcaster.py" name="pr2_tf_broadcaster" />

</launch>
